*,
:after,
:before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  color: #212529;
  background-color: #fff;
}

section {
  padding: 5rem 0;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
}

a,
p {
  font-size: 1.6rem;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1140px;
}

/* Hero Section */
.jumbotron {
  border-radius: 0.3rem;
}

#hero {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  border-bottom: 0;
  background: #fff;
  font-weight: 400;
  color: #272341;
  padding: 0 5.6rem;
  margin-bottom: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  animation: 1s ease-out 0s 1 slideInFromLeft;
  /* animation: fadein 3s; */
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.text-color-main {
  color: #02aab0;
}

#hero .hero-title {
  font-size: 5.6rem;
  font-weight: 700;
  text-align: left;
}
#hero .hero-cta {
  display: flex;
}
#hero .hero-cta a {
  font-size: 2.4rem;
  text-decoration: none;
  color: #02aab0;
}
#hero .hero-cta a:hover {
  color: #fff;
}

.cta-btn--hero {
  border: 2px solid #02aab0;
  box-shadow: inset 0 0 0 0 #02aab0;
  transition: all ease 0.4s;
}

.cta-btn--hero:hover {
  box-shadow: inset 180px 0 0 0 #02aab0;
}

.cta-btn {
  display: inline-block;
  position: relative;
  padding: 0.8rem 1.6rem;
  font-weight: 700;
  line-height: 1;
  z-index: 1;
}

/* About Section */
#about {
  background-color: #02aab0;
  background-image: linear-gradient(135deg, #02aab0, #00cdac);
  color: #fff;
  height: 100%;
  border-top: 0;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  padding-bottom: 10%;
}

.section-title {
  margin: 0 0 4.5rem;
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.col-md-6 {
  width: 570px;
  /* max-width: 50%; */
  padding-right: 15px;
  padding-left: 15px;
}

#about .about-wrapper__info {
  display: flex;
  height: 100%;
  justify-content: center;
  flex-direction: column;
}

#about .about-wrapper__info-text {
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}

.mt-3,
.my-3 {
  margin-top: 1rem !important;
}
.d-flex {
  display: flex !important;
}

.cta-btn--resume {
  color: #fff;
  border: 2px solid #fff;
  text-decoration: none;
  box-shadow: inset 0 0 0 0 #fff;
  transition: all ease 0.4s;
}
.cta-btn--resume:hover {
  box-shadow: inset 180px 0 0 0 #fff;
}
.d-flex a:hover {
  color: #00cdac;
}

/* Education Section */
.education-wrapper {
  display: flex;
  flex-direction: column;
}

.slider {
  display: flex;
  overflow-x: auto;
}

.slide {
  flex-shrink: 0;
}

.owl-dots {
  margin-top: 10px;
  text-align: center;
}
.owl-dot {
  outline: 0;
  color: #02aab0;
}

.bg-color-light {
  background-color: #fff !important;
}

.edu-card-details {
  padding: 45px;
  margin: 20px 20px;
  text-align: left;
  /* border: 2px solid #00cdac; */
  width: 500px;
  background: #f4f9ff !important;
}

.edu-card-shadow {
  box-shadow: 0 30px 40px -15px #e5edf6;
}

.edu-card-details h3 {
  margin: 0rem;
}

.edu-card-title {
  letter-spacing: -0.5px;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 27px;
  margin-top: 2rem;
}

.edu-card-details i {
  color: #02aab0;
  margin-bottom: 0.5rem;
}

.edu-card-name {
  color: #727c93 !important;
}

.mb-1 {
  margin-bottom: 1rem !important;
  margin-top: 0.6rem !important;
}

#education strong {
  font-weight: bolder;
  font-size: 1.5rem;
}

/* Projects Section */
#projects {
  background-color: #fff;
  color: #272341;
  margin-top: -10rem;
  padding-top: 15rem;
}

#projects .project-wrapper {
  margin-bottom: 15rem;
}

.dark-blue-text {
  color: #272341 !important;
}
.section-title {
  margin: 0 0 4.5rem;
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
}

.projects-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem;
  margin: 2rem;
  /* border: 2px solid #00cdac; */
  background: #f4f9ff !important;
  box-shadow: 0 30px 40px -15px #e5edf6;
  max-width: 500px;
}

.project-wrapper__image img {
  height: 257px;
  width: 100%;
  border-radius: 0.8rem;
}

#projects .project-wrapper__text-title {
  font-weight: 700;
  margin-bottom: 1.8rem;
  font-size: 2.5rem;
}

#projects .project-wrapper__text a {
  color: #02aab0;
}

#projects .project-wrapper__text .pl a:hover {
  color: #fff;
}
.project-wrapper__text .pl{
  margin: 0.5rem;
}

/* Contact Section */
#contact {
  background-image: linear-gradient(135deg, #02aab0, #00cdac);
  -webkit-clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
  padding: 15rem 0 10rem;
  margin-top: -10rem;
  margin-bottom: -1px;
  color: #fff;
}

.form-group {
  margin: 2rem;
}

input,
textarea {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  padding: 0.4rem 0.85rem;
  border: 2px solid #fff;
  border-radius: 0.45rem;
  width: 60%;
  line-height: 1.5;
  letter-spacing: 0.1rem;
  color: #272341;
}

textarea {
  font-size: 2rem;
  resize: none;
}

input:focus,
textarea:focus {
  outline: none !important;
}

input[type="submit"] {
  width: 130px;
  background: none;
  margin-bottom: 1.5rem;
}

.contact-wrapper input[type="submit"]:hover {
  color: #00cdac;
  cursor: pointer;
}

.contact-wrapper span {
  font-size: 2rem;
  color: #272341;
  padding: 1rem;
  border-radius: 0.45rem;
}

.success {
  color: #155724 !important;
  background: #d4edda;
}

.error {
  color: #721c24 !important;
  background: #f8d7da;
}

/* Footer */
.footer {
  background-color: #333;
  color: #fff;
  padding: 4.8rem 0;
}

.footer hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  width: 50%;
  border-top: 2px solid hsla(0, 0%, 100%, 0.1);
}

#top-btn {
  color: #fff;
}

.social-links,
.social-links a {
  display: flex;
  justify-content: center;
}
.social-links {
  flex-direction: row;
  margin-top: 1rem;
}

.social-links a {
  flex-direction: column;
  color: #fff;
  font-size: 3rem;
  width: 5rem;
  height: 5rem;
  margin: 1.6rem;
  transition: all 0.2s ease-in;
  text-decoration: none;
}

.footer__text,
.footer__text a {
  color: grey;
  font-size: 1.3rem;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

/****************** Media Queries ****************************/
@media screen and (min-width: 768px) and (max-width: 1110px) {
  #hero .hero-title {
    font-size: 3.8rem;
    font-weight: 700;
    text-align: center;
  }

  #hero .hero-cta {
    justify-content: center;
  }

  #about {
    clip-path: none;
  }

  #about .about-wrapper__info {
    padding-right: 2.15rem;
  }

  .about-wrapper__image img {
    /* height: auto; */
    width: 70%;
  }

  .edu-card-details {
    width: auto;
  }

  .col-md-6 {
    width: 50%;
  }

  #contact {
    clip-path: none;
  }
  #contact {
    margin-top: 0px;
    clip-path: none;
    padding: 10rem 0px;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .container {
    max-width: 550px;
  }
  #hero .hero-title {
    font-size: 3.6rem;
    font-weight: 700;
    text-align: center;
  }

  #hero .hero-cta {
    justify-content: center;
  }

  #about {
    clip-path: none;
  }

  #about .about-wrapper__image {
    padding-bottom: 6.4rem;
  }

  #about .about-wrapper__info-text {
    text-align: center;
  }

  .d-flex {
    justify-content: center;
  }

  #education .edu-card-details {
    width: auto;
  }

  #education .edu-card-title {
    font-size: 2.2rem;
  }
  #education .edu-card-name {
    font-size: 1.7rem;
  }

  .slider {
    justify-content: center;
  }

  .project-wrapper {
    margin-bottom: 10rem !important;
  }

  #contact {
    clip-path: none;
  }
  #contact {
    margin-top: 0px;
    clip-path: none;
    padding: 10rem 0px;
  }

  input,
  textarea {
    width: 85%;
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 360px) and (max-width: 576px) {
  #hero {
    padding: 0px 1.6rem;
  }
  #hero .hero-title {
    font-size: 3rem;
    line-height: 1.5;
    text-align: center;
  }

  .section-title {
    font-size: 2.8rem;
  }

  #about {
    clip-path: none;
  }

  #about .about-wrapper__image {
    padding-bottom: 5rem;
  }
  .about-wrapper__image img {
    /* height: auto; */
    width: 75%;
  }

  #hero .hero-cta {
    justify-content: center;
  }

  #about .about-wrapper__info-text {
    text-align: center;
  }

  .d-flex {
    justify-content: center;
  }

  .edu-card-details {
    padding: 40px;
    margin: 18px 18px;
    width: auto;
  }

  #education .edu-card-title {
    font-size: 2.1rem;
  }
  #education .edu-card-name {
    font-size: 1.45rem;
  }

  #projects {
    margin-top: 0px;
    padding-top: 5rem;
  }

  #projects .project-wrapper__text-title {
    font-size: 2.3rem;
  }

  .project-wrapper {
    margin-bottom: 10rem !important;
  }
  .project-cards {
    margin: 2.2rem !important;
  }

  .project-wrapper__image img {
    height: auto !important;
  }

  #contact {
    clip-path: none;
  }

  input,
  textarea {
    width: 85%;
    font-size: 1.5rem;
    letter-spacing: unset;
  }

  #contact {
    margin-top: 0px;
    clip-path: none;
    padding: 10rem 0px;
  }
}

@media screen and (min-width: 320px) and (max-width: 359px) {
  #hero {
    padding: 0px 1.6rem;
  }
  #hero .hero-title {
    font-size: 3rem;
    line-height: 1.5;
    text-align: center;
  }

  #hero .hero-cta {
    justify-content: center;
  }

  .section-title {
    font-size: 2.8rem;
    margin-bottom: 2.5rem;
  }

  #about {
    clip-path: none;
  }

  #about .about-wrapper__image {
    padding-bottom: 5rem;
  }

  .about-wrapper__image img {
    /* height: auto; */
    width: 80%;
  }

  #about .about-wrapper__info-text {
    text-align: center;
  }

  .d-flex {
    justify-content: center;
  }

  .edu-card-details {
    padding: 40px;
    margin: 18px 18px;
    width: auto;
  }

  .edu-card-details i {
    font-size: 2.5rem;
  }

  #education .edu-card-title {
    font-size: 2rem;
  }
  #education .edu-card-name {
    font-size: 1.4rem;
  }

  #projects {
    margin-top: 0px;
    padding-top: 5rem;
  }

  .project-wrapper {
    margin-bottom: 8rem !important;
  }

  .project-cards {
    margin: 2rem !important;
    padding: 1.3rem !important;
  }

  .project-wrapper__image img {
    height: auto !important;
  }

  #projects p,a {
    font-size: 1.45rem;
  }

  #projects .project-wrapper__text-title {
    font-size: 2.1rem;
  }

  .project-wrapper__text a{
    padding: 0.6rem 1.2rem;
  }

  #contact {
    margin-top: 0px;
    clip-path: none;
    padding: 10rem 0px;
  }

  input,
  textarea {
    width: 85%;
    font-size: 1.5rem;
    letter-spacing: unset;
  }
}

@media screen and (min-width: 1020px) and (max-width: 1110px) {
  .project-cards {
    max-width: 450px;
  }
}
